
     <nav class="navbar navbar-expand-sm navbar-dark bg-danger">
         <a class="navbar-brand" href="#"><h1> ANGULAR CRUD APPLICATION </h1></a>
             <form class="form-inline my-2 my-lg-0" style="margin-left: auto;">
                 <input class="form-control mr-sm-2" type="text" placeholder="Search">
                 <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
             </form>
        
     </nav>
      
   <div class="container" style="margin-top: 50px;">
       <div class="row">
           <div class="col-6">
               <form #dat="ngForm" (ngSubmit)="onsubmit(dat)" (ngSubmit)="onedit(dat)">
              
            <div class="form-group">
                <label>ABC ID</label>
                <input type="text" class="form-control" placeholder="ABC ID" name="id" [(ngModel)]="id1">
            </div>
               <div class="form-group">
                <label>FIRST NAME</label>
                   <input type="text" class="form-control" placeholder="First Name" name="first"[(ngModel)]="first1">
               </div>
               <div class="form-group">
                <label>LAST NAME</label>
                <input type="text" class="form-control" placeholder="Last Name" name="last"  [(ngModel)]="last1">
            </div>
            <div class="form-group">
                <label>EMAIL</label>
                <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email1">
            </div>
            <div class="form-group">
                <label>PHONE</label>
                <input type="text" class="form-control" placeholder="Phone Number" name="phone" [(ngModel)]="phone1">
            </div>
            <button class="btn btn-success btn-md"><i class="fa fa-save"></i> Save</button>
            <button class="btn btn-primary" style="margin-left:30px"><i class="fa fa-pencil"></i> Update</button>
            
</form>
           </div>




<div class="col-6">
<div *ngFor="let d of data" >
    <div class="table table-hover bg-black">
        <table>
            <tr>
                <th>Id</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
            </tr>
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.first}}</td>
                <td>{{d.last}}</td>
                <td>{{d.email}}</td>
                <td>{{d.phone}}</td>
              <td><button (click)="onupdate(d)"style="margin-left:10px"> <i class="fa fa-edit"></i></button></td>  
               <td> <button  (click)="ondelete(d)"> <i class="fa fa-trash"></i></button></td> 
            </tr>
            
    </table>
    </div>
   
   
  
</div>
</div>
       </div>
   </div>
      